<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Blog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.js"></script>
    <link href="/css/app.css" rel="stylesheet">
</head>

<body>
    <div class="ui inverted menu">
        <div class="ui container">
            <div class="header item">
                <i class="code icon"></i>Blog</div>
            <a class="item active" href="/">Home</a>
            <a class="item" href="/blogs/new">New Post</a>
        </div>
    </div>