<% include partials/header %>
<h1>You feel in love with:
    <%= thingVar %>
</h1>
<% if(thingVar.toLowerCase() === "rusty") { %>
    <p>Rusty is the best.</p>
    <% }%>
<% include partials/footer %>