<h1>Sign up Here</h1>
<form action="register" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="passwrd">
    <button type="submit">Submit</button>
</form>
<li>
    <a href="/register">Sign up</a>
</li>
<li>
    <a href="/login">Login</a>
</li>
<li>
    <a href="/logout">Logout</a>
</li>