<% include partials/header %>
<h1>Welcome to Home</h1>
<form action="/results" method="get">
    <input type="text" name="searchMovie" placeholder="Serach Term">
    <button type="submit">Find Movie</button>
</form>
<% include partials/footer %>