p {
    border: 2px solid blue;
    width: 50%;

    /* padding: 10px; */
    /* padding-left: 40px; */
    /* margin-top: 500px; */
    /* margin: 20px 40px 500px 100px */
    margin: 0 auto 0 auto;
}
