body {
    font-size: 10px;
}
p {
    font-family: Arial;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.5;
} 
h1 {
    font-family: Georgia;
    font-size: 200px;
    text-align: center;
}
span {
    font-size: 2em;
}
