body {
    font-size: 10px;
}

p {
    font-family: Raleway;
    font-size: 40px;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
    text-decoration: underline
}

h1 {
    font-family: Indie Flower;
    font-size: 200px;
    text-align: center;
    text-decoration: line-through;
}

span {
    font-size: 2em;
}