img {
    width: 30%;
    float: left;
    margin: 1.66%;
}
p {
    font-family: Raleway;
    font-size: 28px;
    font-weight: 800;
    margin-left: 1.66%;
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    padding-bottom: 20px;
    width: 30%
}
